alphabet-detector==0.0.7
APScheduler==3.5.1
beautifulsoup4==4.6.0
certifi==2018.1.18
chardet==3.0.4
click==6.7
Flask==0.12.2
gunicorn==19.7.1
heroku3==3.3.0
idna==2.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.1.1
mongoengine==0.15.0
Pillow==5.0.0
pymongo==3.6.0
python-binary-memcached==0.26.1
python-dateutil==2.6.0
pytz==2018.3
redis==2.10.6
requests==2.18.4
simplejson==3.3.1
six==1.11.0
tzlocal==1.5.1
urllib3==1.22
Werkzeug==0.14.1
